
<div class="center hero-unit">
	<%= page_header("Welcome to Sample App") %>
	<p>
	  This is the home page for the
	  sample application.
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>