<% provide(:title, 'All users') %>

<div class="row-fluid">
	<%= page_header(yield(:title)) %>
	<div class="span8 offset2">
		<div class="well well-large">
			<center><%= will_paginate %></center>

			<ul class="users">
				<%= render @users %>
			</ul>

			<center><%= will_paginate %></center>
		</div>
	</div>
</div>